[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
google-cloud-aiplatform = "*"
flask = "*"
async-timeout = "*"
google-generativeai = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
